@media screen and (max-width: 768px) {
    * {
        visibility: hidden;
    }
}

html {
    background-color: rgb(245, 245, 245);
    margin: 0; height: 100%; overflow: hidden;
}

body {
    font-family: Helvetica, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.credits p {
    line-height: 1.5rem;
    max-width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    font-weight: 900
}

h2 {
    font-size: 2em;
    font-weight: 800;
}

body {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.starter {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    margin-top: 12%;
    margin-bottom: 20%;
    text-align: center;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.title {
    padding-bottom: 5%;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
}

.inputbox {
    
    height: 100%;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 15px;
    width: inherit;
}

.inputbox input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.inputbox p {
    font-size: 1em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

img {
    position: relative;
    left: 4px;
    height: 15px;
}

input#search-btn,
.progress button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input#search-btn:hover,
.progress button:hover {
    background-color: #7ad57f;
}
input#search-btn:active,
.progress button:active {
    background-color: #2c7c30;
}

.errorMsg {
    display: none;
    position: absolute;
    top: 40%;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 900;
    margin: 0;

}

.uncool button {
    background-color: unset;
    color: rgb(26, 26, 26);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid rgb(26, 136, 37);
    border-radius: 4px;
    cursor: pointer;
}

.uncool button:hover {
    background-color: rgb(107, 216, 118);
    color: white;
}

.red button {
    border: 1px solid rgb(236, 91, 91);
}

.red button:hover {
    background-color: rgb(236, 91, 91);
    color: white;
}

.section-odd {
    display: none;
    display: flex;
    margin-top: 20%;
    opacity: 0;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

input#status {
    display: none;
}

.progress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1100px;
}

.progress .inputbox {
    flex-grow: unset;
}

.progress button {
    width: 200px;
}

textarea#output {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    background-color: unset;
    font-size: 1em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #284829;
}

textarea#tokensList {
    display: none;
}

.progressbar {
    position: absolute;
    top: 45%;
    opacity: 0;
    width: 50%;
    height: 30px;
    background-color: #ddd;
    border-radius: 4px;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.progressbar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 4px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.section-even {
    display: none;
    display: flex;
    margin-top: 20%;
    opacity: 0;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.section-even .inputbox {
    display: flex;
}

.optionbox {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    flex-wrap: nowrap;
    min-width: 0;
    align-items: center;
    padding: 25px 0 10px 0;
    margin: 25px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    background-color: rgb(234, 234, 234);
}

.optionbox h3 {
    font-size: 1.5em;
    font-weight: 900;
    margin: 15px 0 30px 0;
    padding: 0;
}

.optionbox p {
    font-size: 1em;
    font-weight: 500;
    width: 75%;
    margin: 0 0 15px 0;
    padding: 0;
}

.section-even .selection {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
}

.selection button {
    margin: 10px;
    padding: 30px 0;
}
